:root {
  /* === BORDERES === */
  --BORDERS-NONE: none;
  /* === BACKGROUND === */
  --BACKGROUNDS: none;
  /* === BORDER RADIUS === */
  --BORDER-RADIUS: 30%;
}

.main-page__default-list__title,
.completed-default-list__title,
.undo-completion__title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.main-page__default-list {
  text-align: center;
}

.main-page__empty-state-description {
  margin: 0 2rem 0 2rem;
}

.main-page__empty_state-image {
  max-width: 100%;
  height: auto;
}

[data-main-page-state="hidden"] {
  display: none;
}

.main-page__navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main-page__flex-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.31);
}

.main-page__lists {
  display: flex;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.112);
  list-style: none;
  padding: 0.4rem;
}

.main-page__my-day-button,
.main-page__important-button,
.main-page__planned-button,
.main-page__default-button,
.main-page__new-list-action,
.main-page__trigger-options,
.main-page__add-task {
  display: flex;
  flex-direction: column;
  border: var(--BORDERS-NONE);
  background: var(--BACKGROUNDS);
  gap: 0.4rem;
  font-size: 1.4rem;
}

.main-page__add-task {
  color: white;
}

.main-page__new-task {
  position: fixed;
  bottom: 80px;
  right: 40px;
  height: 50px;
  width: 50px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--BORDER-RADIUS);
}

[data-task-counter-state="inactive"] {
  display: none;
}

[data-task-counter-state="active"] {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  color: white;
  position: absolute;
  bottom: 40px;
  left: 37px;
  font-size: 0.75rem;
}

.main-page__default-button {
  position: relative;
  bottom: 0;
}

/* the select item in the dropdown list */
[data-select-task-state="hidden"] {
  display: none;
}

[data-dropdown-list-state] {
  position: absolute;
  top: 47px;
  right: 3px;
  transform-origin: right;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.332);
  transition:
    opacity 0.4s ease-in-out,
    transform 0.4s ease-in-out;
}

[data-dropdown-list-state="closed"] {
  opacity: 0;
  transform: scaleX(0);
  pointer-events: none;
}

[data-dropdown-list-state="open"] {
  transform: scaleX(1);
  pointer-events: auto;
  opacity: 1;
}

.main-page__section:hover,
.main-page__select-your-tasks:hover,
.main-page__activity:hover,
.main-page__comments:hover {
  background-color: rgba(128, 128, 128, 0.081);
}

.header-opacity,
.nav-opacity {
  opacity: 0;
}

[data-selection-bar-state="inactive"] {
  display: none;
}

[data-selection-bar-state="active"] {
  position: fixed;
  top: 10px;
  width: 100%;
  display: flex;
  gap: 2rem;
  z-index: 1;
  padding: 0 0 0 1rem;
}

[data-batch-toolbar-state="closed"],
[data-task-creator-state="hidden"] {
  display: none;
}

[data-batch-toolbar-state="open"] {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.4rem;
  box-shadow: 1px 1px 10px black;
}

.deactivate:disabled {
  cursor: not-allowed;
}

.main-page__hidden-options {
  display: none;
}

.main-page__toolbar-manu {
  position: absolute;
  bottom: 40px;
  right: 2px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  pointer-events: none;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.332);
  transition:
    opacity 0.4s ease-in-out,
    transform 0.4s ease-in-out;
}

[data-batch-menu-state="open"] {
  opacity: 1;
  pointer-events: auto;
  transform: scaleY(1);
}

[data-batch-menu-state="closed"] {
  opacity: 0;
  transform: scaleY(0);
  pointer-events: none;
}
