:root {
  /* === BACKGROUND ===*/
  --BACKGROUNDS: none;
  /* === BORDERS === */
  --BORDERE-NONE: none;
}

.hidden-main-page {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

.hidden-main-page__nav-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
}

.hidden-main-page__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
}

.hidden-main-page__nav-item,
.hidden-main-page__new-list {
  padding: 1rem 0 0 1.4rem;
}

.hidden-main-page__nav-button,
.hidden-main-page__new-list-action {
  border: var(--BORDERE-NONE);
  background: var(--BACKGROUNDS);
  font-size: 1.3rem;
}
